<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/default.css" rel="stylesheet" type="text/css"/>
<link href="/fonts.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="">Автогенерація</a></h1>
			</div>
		</div>
	</div>
	<div id="page" class="container">
		<div class="column1">
			<div class="title">
                <form method="post" action="uploadFile" enctype="multipart/form-data">
                    <div class="center">
                        <div class="excel" for="file"></div>
                        <label for="file" class="button">Оберіть Excel файл для завантаження</label>
                        <input type="file" style="visibility: hidden" id="file" name="file" accept=".xlsx, .xls" >
                    </div>
                    <div class="center">
                        <button class="button">Відправити</button>
                    </div>
                </form>
			</div>
        </div>

	</div>
	<div id="portfolio-wrapper">
		<div id="portfolio" class="container">

		</div>
	</div>
</div>
<div id="footer">
	<p>&copy; Untitled. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
</div>




</body>
</html>
